@import "seattletimes";

.interactive {
  max-width: 980px;
  margin: auto;
}

h1 {
  font-size: 40px;

  @media @tablet {
    font-size: 34px;
  }

  @media @mobile {
    font-size: 30px;
  }
}

.cards {
  .display-flex();
  .flex-wrap(wrap);
  .justify-content(space-between);
  .align-items(stretch);

  @media @mobile {
    display: block;
  }

 .card {
    .flex(0 0 50%);
    padding: 16px;

    .display-flex();
    .flex-direction(column);

    .padding-wrapper {
      box-shadow: 5px 5px 5px @df-light-gray;
      border-radius: 5px;
      padding: 20px;
      background-color: @df-off-white;
      .flex(1 1 0%);
    }

    h2 {
      margin-top: 8px;
    }

    ul {
      list-style-type: none;
      padding: 0px;
    }

    .type {
      font-size: 15px;
      text-transform: uppercase;
      border-bottom: 1px solid @df-middle-gray;
    }

    h3 {
      font-size: 20px;

      &.finances {
        margin-bottom: 10px;
      }

      &.dropdown {
        cursor: pointer;
        border-bottom: 2px dashed @df-light-gray;

        img {
          width: 22px;
          // transition: all .2s ease-in-out;
          vertical-align: middle;
        }
      }
    }

    .districts {
      .more {
        display: none;
      }

      &.collapsed {
        // .arrow {
        //   transform: rotate(-90deg);
        // }

        .less {
          display: none;
        }

        .more {
          display: inline;
        }

        ul.dropdownList {
          display: none;
        }
      }
    }

    .dropdownList {

      li {
        .display-flex();
        .justify-content(space-between);
        
        &:nth-child(2n) {
          background-color: darken(@df-off-white, 5%);
        }


      }
    }

    .legend {
      font-size: 15px;
      padding-bottom: 50px;

      div {
        float: left;
        padding-right: 10px;

        .key {
          display: block;
          width: 20px;
          height: 14px;
          float: left;
          margin-right: 6px;
      
          &.contribKey {
            background-color: @st-light-green;
          }

          &.expKey {
            background-color: rgb(254, 196, 79);
          }
        }
      }
    }


    .time {
      font-size: 13px;
      position: relative;

      span {
        position: absolute;
        bottom: 0; // changed this from 0 to 1 b/c it was hitting the graph
      }
      
      span.earliest-week {
        left: 0px;
      }
      span.latest-week {
        right: 0px;
      }

      .highest-contribution {
        top: 0;
      }

      .highest-expenditure {
        bottom: 1.5em;
      }
    }
  } 
}

.canvas-container {
  position: relative;
  padding: 1.5em 0 3em;
}

canvas {
  width: 100%;
  height: 5em; // changed from 3em
  display: block;
}

.credits {
  padding-top: 20px;
  font-size: 16px;
  .display-flex();

  @media @mobile {
    display: block;
  }

  .source {
    font-style: italic;
    margin-right: auto;
  }
}

.note {
  font-style: italic;
}

.money {
  font-weight: bold;
  padding-left: 5px;
}