<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <responsive-child>
      <!-- content goes here -->
      <main class="interactive">
        <h1 class="hed">Moon and Durkan: Tracking the money</h1>
        <p class="chatter">
          How much money is flowing in the race for Seattle mayor? See where donations are coming from and how much is being spent by the Jenny Durkan and Cary Moon campaigns &mdash; as well as by the independent committees that support but cannot legally coordinate with them.
        </p>
        <div class="note">Note: Data is updated weekly, and is current as of Oct. 20, 2017</div>
        <div class="cards"></div>
        <div class="credits">
          <div class="source">
            Source: Seattle Ethics and Elections Commission
          </div>
          <div class="names">
            Vanessa Mart&iacute;nez and Thomas Wilburn / The Seattle Times
          </div>
        </div>
      </main>
    </responsive-child>

    <script>
      window.contribData = <%= JSON.stringify(json.campaigns) %>;
      <%
var moment = require("moment");
var weeks = {};
for (var i = 1; i < 52; i++) {
  weeks[i] = moment().week(i).days(0).format("MM/D/YY");
}
      %>
      window.weekText = <%= JSON.stringify(weeks) %>
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
